{% macro btn(text, url, value, type) %}
{% if value == false %}
    <a class="w-100 btn btn-link" href="{{url}}">
        {{text}}
    </a>  
{% elseif value == true and type == null %}
    <a class="w-100 btn btn-primary" href="{{url}}">
        {{text}}
    </a>
{% else %}
    <a class="w-100 btn btn-{{type}}" href="{{url}}">
        {{text}}
    </a>
{% endif %} 
{% endmacro %}