{% from "button.twig" import btn %}
{% extends "__layout.twig" %}
{% block content %}
<br>
Сообщение из сессии: {{my_session_message}}
<br>
Последние сообщения:<br>
{% for message in messages %}
  {{message}}<br>
{% endfor %}
<hr>
<p>{{description}}</p>
<ul class="nav nav-pills">
  <li class="nav-item">
    {{btn("Картинка", "/cinema-objects/" ~ id ~ "?show=image", is_image ? true)}}
  </li>
  <li>
    {{btn("Описание", "/cinema-objects/" ~ id ~ "?show=info", is_info ? true)}}
  </li>
</ul>
<br>
<div class = "container">
  {% if is_image %}
    <img src="{{image}}" alt="" width = "25%">
  {% elseif is_info %}
    {{info}}
  {% endif %}
</div>
{% endblock %}